// Device tree overlay for Arduino Nano 33 IoT

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x8000>;
        };
        
        slot0_partition: partition@8000 {
            label = "image-0";
            reg = <0x00008000 0x74000>;
        };
        
        slot1_partition: partition@7c000 {
            label = "image-1";
            reg = <0x0007c000 0x74000>;
        };
        
        scratch_partition: partition@f0000 {
            label = "image-scratch";
            reg = <0x000f0000 0x10000>;
        };
    };
};

/ {
    aliases {
        led0 = &led0;
        sw0 = &button0;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&porta 17 GPIO_ACTIVE_LOW>;
            label = "Yellow LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&porta 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch";
        };
    };
};