/*
 * Application-specific hardware configuration and flash layout.
 * The flash partition map here MUST match the one in the .yml file.
 */

/ {
    /* Board-specific hardware customization for your application */
    leds {
        compatible = "gpio-leds";
        status_led: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Status LED";
        };
    };

    aliases {
        led0 = &status_led;
        watchdog0 = &wdt0;
    };

    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,code-partition = &slot0_partition; /* Tells Zephyr where the app runs */
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};

&wifi {
    status = "okay";
};

&wdt0 {
    status = "okay";
};


&flash0 {
    /delete-node/ partitions;
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* ESP32 Partition Table */
        nvs_partition: partition@9000 {
            label = "nvs";
            reg = <0x00009000 0x00004000>;
        };

        otadata_partition: partition@d000 {
            label = "otadata";
            reg = <0x0000d000 0x00002000>;
        };

        phy_init_partition: partition@f000 {
            label = "phy_init";
            reg = <0x0000f000 0x00001000>;
        };

        mcuboot_partition: partition@10000 {
            label = "mcuboot";
            reg = <0x00010000 0x00010000>;
        };

        slot0_partition: partition@20000 {
            label = "image-0";
            reg = <0x00020000 0x00100000>;
        };

        slot1_partition: partition@120000 {
            label = "image-1";
            reg = <0x00120000 0x00100000>;
        };

        storage_partition: partition@220000 {
            label = "storage";
            reg = <0x00220000 0x00010000>;
        };

        scratch_partition: partition@230000 {
            label = "scratch";
            reg = <0x00230000 0x00004000>;
        };
    };
};